
<div class="col-12">
    <div class="card">
        <h5>Mes Commandes </h5>
        <p-splitter [style]="{'height': '800px'}" [panelSizes]="[20,80]">
            <ng-template pTemplate>
                <p-splitter layout="vertical" [panelSizes]="[15,85]" [minSizes]="[10,10]">
                    <ng-template pTemplate>
                        <div class="col flex align-items-center justify-content-center">
                            Panel 2
                        </div>
                    </ng-template>
                    <ng-template pTemplate>
                        <div class="col flex align-items-center justify-content-center">
                            <div class="col-12">
                                <div class="card card-w-title flex flex-wrap">
                                    <div class="col-12 md:col-8 h-full">
                                        <h5>TabMenu</h5>
                                        <p-tabMenu styleClass="mb-5" [model]="routeItems"></p-tabMenu>
                        
                                        
                                        <p-steps [model]="routeItems" styleClass="mt-5" [readonly]="false"></p-steps>
                                    </div>
                                    <div class="col-12 md:col-4 mt-5 md:mt-0">
                                        <router-outlet></router-outlet>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-splitter>
            </ng-template>
        </p-splitter>
    </div>
</div>
